.banner {
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.banner .caption h1 {
    font-size: 6em;
    color: #fff;
    font-weight: 800;
    line-height: 1em;
}
.banner .caption h4 {
    font-size: 1.4em;
    color: #fff;
}
.cta {
    margin-top: 30px
}
.single-service ul {
    list-style-type: disc;
}
h1,h2,h3,h4,h5 {
    color: #000
}
.button {
    padding: 1em 3em !important;
    font-size: 1em !important;
}
.primary-bg {
    background: #FDB331 !important;
}
.no-pad {
    padding: 0 !important;
}
.services {
    margin-top: -70px;
    z-index: 9999;
}
.works {
    background-color: #262626 !important;
}
#home-banners .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
}
#home-banners .owl-prev {
    flex: 1
}
#home-banners .fa {
    color: #fff;
    font-size: 40px;
}
.portfolio img {
    width: 360px !important;
    height: 267px !important;
}
.portfolio .owl-item {
    width: 360px !important;
}
section {
    padding: 35px 0;
}
.info {
    background: url('../../../../default/files/banner.jpg');    
    background-size: cover
}
.info .caption {
    padding: 9em;
}
.info > .caption > h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 0;
}
.info > .caption > h1 {
    font-size: 5em;
    margin-top: 0;
    color: #fff;
}
.info > .caption > p {
    color: #fff;
    font-size: 1.5em;
}
.clients {
    background: #F5F5F5
}
hr {
    margin-top: 50px;
}

/* mobile fixes */
@media (max-width: 992px){
section {
    margin-top: 0;
}
.banner {
    height: 450px
}
.info .caption {
    padding: 0;
}
.info > .caption > h2 {
    font-size: 1em;
}
.info > .caption > h1 {
    font-size: 1em;
}
.info > .caption > p {
    font-size: .9em;
} 
}